page-AddindustrySchedule{
    .card-md, .card-ios{
        padding:15px 10px 10px 10px;
    }
    .item-md, .item-ios{
        padding-left: 8px;
    }
    .btnSave{
        background-color:color($colors, bluegreen); 
    }
    .btnClear{
        background-color:color($colors, bluegreen);
    }
    .select-md .select-icon .select-icon-inner, .select-ios .select-icon .select-icon-inner{
        left: 0px;
    }
    .select-md, .selce-ios{
        padding-left: 0px;
    }
}