page-IndustryDetails{
    .heading{
        background-color: color($colors,bluegreen);
        color: white;
        padding:10px;
        text-align: center;
    }
    .CardPadding{
        padding: 8px;
    }    
    .title{
        color:color($colors,darkgray);
    }
    .contentdata{
        color:color($colors,lightgray);
    }

    .info{
        background: color($colors,groundcolor);
        padding: 5%;
        margin: 0px;
        width: 100%
      }
      .info-heading{
        color:color($colors,darkgray);
        font-weight: 20px;
      }
      .info-sub-heading{
        color:color($colors,lightgray);
      }
      .heading-font{
        font-size: 18px;
      }
}