page-AddIndustryMaterial{
    .card-md, .card-ios{
        padding:15px 10px 10px 10px;
    }
    .item-md, .item-ios{
        padding-left: 8px;
    }
    .btnSave{
        background-color:color($colors, bluegreen); 
    }
    .btnClear{
        background-color:color($colors, bluegreen);
    }
    .rangeColor{
        color: color($colors, bluegreen);
    }
    .range-md .range-bar-active, .range-ios .range-bar-active{
        background-color:color($colors, orangecolor);
    }
    .range-md .range-knob, .range-ios .range-knob{
        background-color:color($colors, orangecolor);
    }
    .ParemBox{
        border:1px solid darkgray;
    }
    .input-md[item-end]{
        margin-left: 10px;
    }
    .text-input-md{
        padding-left: 5px;
    }
    .label-md, .label-ios{
        padding: 5px;
    }
    .badge-md,.badge-ios{
        border-radius: 50%;
        font-size: 20px;
    }
}