<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="list"></ion-icon>
        </button>
        <ion-title text-center>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>
        
<ion-content class="app-background">
    <ion-card>
        <ion-item>
            <ion-label>Select Product</ion-label>
                <ion-select class="titleCss" col-12 [(ngModel)]="Product" placeholder="Select Product" (ionChange)="ProductSelected()">
                    <ion-option *ngFor="let prod of AllMaterialData" value="{{prod.product_id._id}}">{{prod.product_id.material_name}}</ion-option>
                </ion-select>
        </ion-item>
        <ion-item style="padding-left:15px;" *ngIf="Product">
            <ion-label floating>Quantity </ion-label>
            <ion-input type="number" maxlength="10" [(ngModel)]="Quantity"></ion-input>
        </ion-item>
        <ion-item *ngIf="Quantity>0">
            <ion-label>Start Date</ion-label>
            <ion-datetime class="contentCss" *ngIf="Quantity>0" col-6 displayFormat="DD MMM YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="StartDate" (ionChange)='dateChangeStart()'></ion-datetime>
        </ion-item>
        <ion-item *ngIf="Quantity>0">
            <ion-label>End Date</ion-label>
            <ion-datetime class="contentCss" *ngIf="Quantity>0" col-6 displayFormat="DD MMM YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="EndDate" (ionChange)='dateChangeEnd()'></ion-datetime>
        </ion-item>
        <ion-item *ngIf="Quantity>0" style="margin-top:10px">
                <button ion-button class="btnSave"  (click)="SaveScheduleTrans()">Save</button>
                <button ion-button class="btnClear"  (click)="Reset()">Clear</button>
        </ion-item>
    </ion-card>
</ion-content>